doc-builder md-menu-item {
  height:auto;
  width: auto;
}

doc-builder md-menu-item > * {
  width: auto;
}

doc-builder md-menu-item > div {
  min-height: 67px !important;
  position: relative;
  outline: none;
}

doc-builder md-menu-item > div .editToggle {
  visibility: hidden;
}

doc-builder md-menu-item > div:hover .editToggle {
  visibility: visible;
}

doc-builder md-menu-item > div .lbl {
  font-weight: bold;
}

doc-builder {
  flex-direction: column;
}

.inline-block {
  display: inline-block;
}

doc-builder-tab > doc-builder-tree > md-list {
  overflow: auto;
}

doc-builder.root > md-list {
  overflow: auto;
}

.schema-type {
  min-width: 150px;
}

doc-builder schema-list.ng-leave {
  animation: 1s slideup
}

doc-builder schema-list.ng-enter {
  animation: 1s slidedown
}

.interface {
  background-color: rgb(63,81,181);
  color: white;
  border-radius: 3px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

.interface md-icon {
  color: white;
}

doc-builder .lvl {
  font-weight: bold;
}

doc-builder .dialog {
  margin-top: 8px;
}

doc-builder .space {
  width: 24px;
}

doc-builder .offset-right {
  margin-right: 8px;
}

.layout-padding > doc-builder-acl-tree {
  padding: 0px;
}

.layout-row > md-checkbox {
  margin-bottom: 0px;
}

.layout-row > md-input-container > .md-errors-spacer {
  min-height: 0px;
}
